
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f4f8;
  color: #333;
  margin: 0;
  padding: 20px;
  line-height: 1.6;
}


.pc {
  margin: 20px 0;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
}


.pc:hover {
  transform: translateY(-5px);
}

.pt {
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  padding: 15px 20px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #388E3C;
  transition: background-color 0.3s, color 0.3s;
}

.pt:hover {
  background-color: #388E3C;
  color: #fff;
}

.p_code {
  display: none;
  padding: 15px 20px;
  border-left: 5px solid #4CAF50;
  background-color: #f9f9f9;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 16px;
  color: #555;
  position: relative;
}


pre {
  margin: 0;
  white-space: pre-wrap; /* Wrap long lines */
  font-family: 'Courier New', Courier, monospace;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}


.copy-button {
  position: absolute;
  top: 15px;
  right: 20px;
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s, transform 0.3s;
}

.copy-button:hover {
  background-color: #d32f2f;
  transform: scale(1.05);
}
